@page
@{ Layout = "_layout"; }

<div class="jumbotron">
    <h1>Lavaskie Clark</h1>
</div>
<!-- Objective -->
<div class="container" id="objectiveSection">
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <img class="col-lg-4 pic" id="myPhoto" src="../images/photo.png" alt="Lavaskie Clark" />
        <div class="col-md-8 col-lg-8 col-sm-12" id="objectiveText">
            <h1>Thank you for visiting my webpage!</h1>
            <p>
                Hello, my name is Lavaskie Clark. I am currently a Senior at Jackson State University,
                majoring in Computer Science. I want to take out the time to thank you for visiting my
                webpage. I also want to take some time to introduce myself.
            </p>
            <p>
                I am familiar with a variety of programming languages and software, and eagerly
                learning more every day. I am currently seeking real-world experience that could
                hopefully go a long way towards helping me to build a bright and successful career in
                the industry.
            </p>
            <p>
                Anyway, I won't hold you much longer. Thank you again for your interest. I hope
                this site provides a decent look into what I can offer you. I hope to hear from you
                soon!
            </p>
        </div>
    </div>
</div>
<div class="divider"></div>

<!-- Education -->
<div class="educationSection">
    <div class="container-fluid" id="educationJSU">
        <div class="row col-sm-12 col-lg-12 col-md-12">
            <img class="col-lg-3 pic" src="~/images/jsulogo.png" alt="JSU Logo" />
            <div class="col-md-9 col-lg-9 col-sm-12 educationText">
                <h1>Jackson State University</h1>
                <p>Major: Computer Science</p>
                <p>Expected Degree: Bachelor of Science</p>
                <p>Expected Graduation: May 2020</p>
                <p>Current GPA: 2.9</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="educationHinds">
        <div class="row col-sm-12 col-lg-12 col-md-12">
            <img class="col-lg-3 pic" src="~/images/hindslogo.png" alt="HindsCC Logo" />
            <div class="col-md-9 col-lg-9 col-sm-12 educationText">
                <h1>Hinds Community College</h1>
                <p>Major: Electrical Technology</p>
                <p>Degree: Technical Diploma</p>
                <p>Graduated: December 2017</p>
            </div>
        </div>
    </div>
</div>