@page
@{ Layout = "_layout"; }

<div class="jumbotron">
    <h1>Lavaskie Clark</h1>
</div>
<!-- Objective -->
<div class="container" id="objective">
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <img class="col-lg-4 pic" id="myPhoto" src="../images/photo.png" alt="Lavaskie Clark" />
        <div class="col-md-8 col-lg-8 col-sm-12" id="objectiveText">
            <h1>Thank you for visiting my webpage!</h1>
            <p>
                Hello, my name is Lavaskie Clark. I am currently a Senior at Jackson State University,
                majoring in Computer Science. I want to take out the time to thank you for visiting my
                webpage. I also want to take some time to introduce myself.
            </p>
            <p>
                I am familiar with a variety of programming languages and software, and eagerly
                learning more every day. I am currently seeking real-world experience that could
                hopefully go a long way towards helping me to build a bright and successful career in
                the industry.
            </p>
            <p>
                Anyway, I won't hold you much longer. Thank you again for your interest. I hope
                this site provides a decent look into what I can offer you. I hope to hear from you
                soon!
            </p>
        </div>
    </div>
</div>
<div class="divider" id="education"></div>

<!-- Education -->
<div class="educationSection">
    <div class="jumbotron">
        <h1>Education</h1>
    </div>
    <div class="container-fluid" id="educationJSU">
        <div class="row col-sm-12 col-lg-12 col-md-12">
            <img class="col-lg-3 col-md-6 col-sm-6 pic" src="~/images/jsulogo.png" alt="JSU Logo" />
            <div class="col-lg-9 col-md-6 col-sm-6 educationText">
                <h1>Jackson State University</h1>
                <p>Major: Computer Science</p>
                <p>Expected Degree: Bachelor of Science</p>
                <p>Expected Graduation: May 2020</p>
                <p>Current GPA: 2.9</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="educationHinds">
        <div class="row col-sm-12 col-lg-12 col-md-12">
            <img class="col-lg-3 col-md-6 col-sm-6 pic" src="~/images/hindslogo.png" alt="HindsCC Logo" />
            <div class="col-lg-9 col-md-6 col-sm-6 educationText">
                <h1>Hinds Community College</h1>
                <p>Major: Electrical Technology</p>
                <p>Degree: Technical Diploma</p>
                <p>Graduated: December 2017</p>
            </div>
        </div>
    </div>
</div>
<div class="divider" id="skills"></div>

<!-- Skills -->
<div class="skillsSection">
    <div class="jumbotron">
        <h1>Skills</h1>
    </div>
    <div class="container-fluid" id="Logos">
        <div class="row col-sm-12 col-md-12 col-lg-12 logoGallery">
            <img class="col-sm-12 col-md-6 col-lg-3" alt="Visual Studio" src="~/images/vstudioLogo.png" />
            <img class="col-sm-12 col-md-6 col-lg-3" alt="C++" src="~/images/viscppLogo.png" />
            <img class="col-sm-12 col-md-6 col-lg-3" alt="Java" src="~/images/javaLogo.png" />
        </div>
        <div class="row col-sm-12 col-md-12 col-lg-12 logoGallery">
            <img class="col-sm-12 col-md-6 col-lg-3" alt="Microsoft .Net" src="~/images/dotnetLogo.png" />
            <img class="col-sm-12 col-md-6 col-lg-3" alt="Linux Ubuntu" src="~/images/ubuntuLogo.png" />
            <img class="col-sm-12 col-md-6 col-lg-3" alt="Web Development Kits" src="~/images/webdevLogo.png" />
        </div>
    </div>
</div>
<div class="divider" id="experience"></div>

<!-- Experience -->
<div class="experienceSection">
    <div class="jumbotron">
        <h1>Experience</h1>
    </div>
    <div class="container" id="experienceText">
        <h1>Experience and Projects</h1>
        <p>I don't have much formal experience at the moment, but I'm working on it.</p>
        <p>In the meantime, you can check out my <a href="https://github.com/LVSKEClark90">
            GitHub Repository</a> to see what kind of projects I'm involved in.</p>
        <p>Thank you once again for viewing! I hope the website was informative!</p>
    </div>
</div>
<div class="divider"></div>